#! /usr/bin/env python

PACKAGE='pcl_ros'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# def add (self, name, paramtype, level, description, default = None, min = None, max = None, edit_method = ""):
gen.add ("height_min", double_t, 0, "The minimum allowed distance to the plane model value a point will be considered from", 0.0, -10.0, 10.0)
gen.add ("height_max", double_t, 0, "The maximum allowed distance to the plane model value a point will be considered from", 0.5, -10.0, 10.0)

exit (gen.generate (PACKAGE, "pcl_ros", "ExtractPolygonalPrismData"))
