#! /usr/bin/env python

# set up parameters that we care about
PACKAGE = 'pcl_ros'

from dynamic_reconfigure.parameter_generator_catkin import *;

gen = ParameterGenerator ()

# enabling/disabling the unit limits
# def add (self, name, paramtype, level, description, default = None, min = None, max = None, edit_method = ""):
gen.add ("radius_search", double_t, 0, "Radius of the sphere that will determine which points are neighbors.", 0.1, 0.0, 10.0)
gen.add ("min_neighbors", int_t, 0, "The number of neighbors that need to be present in order to be classified as an inlier.", 5, 0, 1000)

exit (gen.generate (PACKAGE, "pcl_ros", "RadiusOutlierRemoval"))
