-i https://pypi.org/simple
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Uploads==0.2.1
numpy==1.19.5
opencv-python==4.1.2.30
pytorch_lightning==1.3.3
torch==1.8.1
torchvision==0.9.1
pyyaml==5.1
Werkzeug==0.15.6
torchtext
