torch==2.0.1

ninja
torch_efficient_distloss
webdataset
google-cloud-storage==2.10.0
datasets
lpips
open3d
visu3d
pyspng

lightning==2.0.0
omegaconf==2.3.0
jaxtyping
typeguard

diffusers
transformers
accelerate
opencv-python
tensorboard
matplotlib
imageio>=2.28.0
imageio[ffmpeg]
git+https://github.com/NVlabs/nvdiffrast.git
libigl
xatlas
trimesh[easy]
networkx
pysdf
PyMCubes
wandb
gradio
git+https://github.com/ashawkey/envlight.git
torchmetrics

# deepfloyd
xformers
# bitsandbytes
bitsandbytes-cuda116
sentencepiece
safetensors
huggingface_hub

# for zero123
einops
kornia
taming-transformers-rom1504
git+https://github.com/openai/CLIP.git

#controlnet
controlnet_aux

# new additions
torch_efficient_distloss
webdataset
google-cloud-storage==2.10.0
datasets
lpips
gdown