Package               Version
--------------------- --------
absl-py               1.1.0
attrs                 21.4.0
cycler                0.11.0
fonttools             4.34.3
imutils               0.5.4
kiwisolver            1.4.3
matplotlib            3.5.2
mediapipe             0.8.10.1
numpy                 1.23.0
opencv-contrib-python 4.6.0.66
packaging             21.3
Pillow                9.2.0
pip                   22.2.2
progress              1.6
protobuf              3.20.1
pyparsing             3.0.9
python-dateutil       2.8.2
pyvirtualcam          0.9.1
setuptools            63.2.0
six                   1.16.0
vidstab               1.7.4
wheel                 0.37.1
